# Accessing Data from DataFrame

In [1]:
import pandas as pd

index = ['villager', 'halberdier', 'arbalest', 'paladin', 'imperial_skirmisher', 'champion']
columns = ['food', 'wood', 'gold', 'build_time']
data = [
    [50, 0, 0, 25],
    [35, 25, 0, 22],
    [0, 25, 45, 27],
    [60, 0, 75, 30],
    [25, 35, 0, 22],
    [60, 0, 20, 21]
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df

                     food  wood  gold  build_time
villager               50     0     0          25
halberdier             35    25     0          22
arbalest                0    25    45          27
paladin                60     0    75          30
imperial_skirmisher    25    35     0          22
champion               60     0    20          21

Direct indexing accepts columns

In [3]:
df['food']

villager               50
halberdier             35
arbalest                0
paladin                60
imperial_skirmisher    25
champion               60
Name: food, dtype: int64

In [5]:
df[['food', 'wood']]

                     food  wood
villager               50     0
halberdier             35    25
arbalest                0    25
paladin                60     0
imperial_skirmisher    25    35
champion               60     0

If I want to swap two columns

In [11]:
df[['food', 'wood']] = df[['wood', 'food']]
print(df)
df[['food', 'wood']] = df[['wood', 'food']]
print(df)

                     food  wood  gold  build_time
villager               50     0     0          25
halberdier             35    25     0          22
arbalest                0    25    45          27
paladin                60     0    75          30
imperial_skirmisher    25    35     0          22
champion               60     0    20          21
                     food  wood  gold  build_time
villager                0    50     0          25
halberdier             25    35     0          22
arbalest               25     0    45          27
paladin                 0    60    75          30
imperial_skirmisher    35    25     0          22
champion                0    60    20          21

`.iloc` is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array

`.loc` is primarily label based, but may also be used with a boolean array.

In [13]:
# Locate by list of labels
df.loc[['villager', 'arbalest']]

          food  wood  gold  build_time
villager     0    50     0          25
arbalest    25     0    45          27

In [14]:
# Locate by range of labels
df.loc['villager':'arbalest']

            food  wood  gold  build_time
villager       0    50     0          25
halberdier    25    35     0          22
arbalest      25     0    45          27

In [15]:
# Locate by single label for row and column
df.loc['paladin', 'build_time']

30

In [16]:
# Locate by slice with labels for row and single label for column. 
df.loc['villager':'paladin', 'build_time']

villager      25
halberdier    22
arbalest      27
paladin       30
Name: build_time, dtype: int64

In [19]:
# Locate by boolean array
df.loc[df['gold'] == 0]

                     food  wood  gold  build_time
villager                0    50     0          25
halberdier             25    35     0          22
imperial_skirmisher    35    25     0          22