# Pandas DataFrame

> DataFrame is a two dimensional size-mutable, potentially heterogeneuous tabular data structure with labeled axes   (rows and colums.) It can be thought of as a dict-like container for Series objects. 

`Series` is the data structure for a single column of `DataFrame`. Many `Series` make up a single `DataFrame`.

## Object Creation

In [16]:
from IPython.display import display, HTML
import pandas as pd
import numpy as np


series = pd.Series([1, 3, 5, np.nan, 6, 8])
display(series)

dates = pd.date_range('20200101', periods=60) # Create 60 days from 2020-01-01
df = pd.DataFrame(np.random.randn(60, 4), index=dates, columns=['x0', 'x1', 'x2', 'x3'])
display(df.head())

# Even better, read CSV directly from URL
df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
df.index = df['date']
df = df.drop(['date'], axis=1)
display(df.head())

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

                  x0        x1        x2        x3
2020-01-01  0.282005  0.138954 -0.913562 -1.797510
2020-01-02 -1.103609 -1.162046  0.886719  0.424802
2020-01-03  1.516900 -1.363741 -0.068121  0.115255
2020-01-04  0.292872 -0.696904 -0.096230 -2.226183
2020-01-05 -0.343698 -0.211762 -1.388476  0.896453

               county       state     fips  cases  deaths
date
2020-01-21  Snohomish  Washington  53061.0      1       0
2020-01-22  Snohomish  Washington  53061.0      1       0
2020-01-23  Snohomish  Washington  53061.0      1       0
2020-01-24       Cook    Illinois  17031.0      1       0
2020-01-24  Snohomish  Washington  53061.0      1       0

In [18]:
display(df[df['deaths'] > 100].sort_values(by=['deaths'], ascending=False))

                   county       state     fips  cases  deaths
date
2020-04-04  New York City    New York      NaN  63307    2254
2020-04-03  New York City    New York      NaN  57160    1867
2020-04-02  New York City    New York      NaN  51810    1562
2020-04-01  New York City    New York      NaN  47440    1374
2020-03-31  New York City    New York      NaN  43139    1096
2020-03-30  New York City    New York      NaN  38087     914
2020-03-29  New York City    New York      NaN  33768     776
2020-03-28  New York City    New York      NaN  30766     672
2020-04-03        Unknown    New York      NaN     37     608
2020-03-27  New York City    New York      NaN  25399     450
2020-04-04         Nassau    New York  36059.0  13346     396
2020-03-26  New York City    New York      NaN  23112     365
2020-04-04        Unknown    New York      NaN      0     309
2020-03-25  New York City    New York      NaN  20011     280
2020-04-04          Wayne    Michigan  26163.0   6762     252
2020-04-03          Wayne    Michigan  26163.0   6096     223
2020-04-04           King  Washington  53033.0   2900     204
2020-04-04    Westchester    New York  36119.0  13080     197
2020-04-02          Wayne    Michigan  26163.0   5069     194
2020-03-24  New York City    New York      NaN  14905     192
2020-04-03           King  Washington  53033.0   2789     188
2020-04-04         Bergen  New Jersey  34003.0   5760     179
2020-04-02           King  Washington  53033.0   2658     177
2020-04-04        Suffolk    New York  36103.0  12328     175
2020-04-04           Cook    Illinois  17031.0   7439     167
2020-04-01           King  Washington  53033.0   2498     166
2020-04-04          Essex  New Jersey  34013.0   3584     156
2020-04-04        Orleans   Louisiana  22071.0   3966     153
2020-03-31           King  Washington  53033.0   2332     152
2020-03-30           King  Washington  53033.0   2332     152
2020-04-03        Orleans   Louisiana  22071.0   3476     148
2020-03-29           King  Washington  53033.0   2163     146
2020-04-01          Wayne    Michigan  26163.0   4470     146
2020-04-04        Oakland    Michigan  26125.0   2785     142
2020-04-03           Cook    Illinois  17031.0   6473     141
2020-04-03         Nassau    New York  36059.0  12024     138
2020-03-28           King  Washington  53033.0   2079     138
2020-04-03        Oakland    Michigan  26125.0   2540     136
2020-04-03         Bergen  New Jersey  34003.0   4866     132
2020-03-23  New York City    New York      NaN  12305     131
2020-03-27           King  Washington  53033.0   1830     127
2020-04-02        Orleans   Louisiana  22071.0   3148     125
2020-04-02        Oakland    Michigan  26125.0   2227     120
2020-03-31          Wayne    Michigan  26163.0   3735     120
2020-04-02         Bergen  New Jersey  34003.0   4099     120
2020-04-03          Essex  New Jersey  34013.0   3067     118
2020-04-04    Los Angeles  California   6037.0   5277     117
2020-04-01        Orleans   Louisiana  22071.0   2270     115
2020-03-26           King  Washington  53033.0   1579     111
2020-04-02           Cook    Illinois  17031.0   5575     107
2020-03-31        Orleans   Louisiana  22071.0   1834     101
2020-03-25           King  Washington  53033.0   1360     101

## Retrieve Data from DataFrame

- `.iloc` is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array
- `.loc` is primarily label based, but may also be used with a boolean array.

In [2]:
index = ['villager', 'halberdier', 'arbalest', 'paladin', 'imperial_skirmisher', 'champion']
columns = ['food', 'wood', 'gold', 'build_time']
data = [
    [50, 0, 0, 25],
    [35, 25, 0, 22],
    [0, 25, 45, 27],
    [60, 0, 75, 30],
    [25, 35, 0, 22],
    [60, 0, 20, 21]
]

df = pd.DataFrame(data=data, index=index, columns=columns)
display(df)

# Direct indexing accepts column labels.
display(df['food']) # Returns a Series
display(df[['food']]) # Returns a DataFrame
display(df[['food', 'wood']])

# Locate by list of labels
df.loc[['villager', 'arbalest']]
# Locate by range of labels
df.loc['villager':'arbalest']
# Locate by single label for row and column
df.loc['paladin', 'build_time']
# Locate by slice with labels for row and single label for column. 
df.loc['villager':'paladin', 'build_time']
# Locate by boolean array
df.loc[df['gold'] == 0]

                     food  wood  gold  build_time
villager               50     0     0          25
halberdier             35    25     0          22
arbalest                0    25    45          27
paladin                60     0    75          30
imperial_skirmisher    25    35     0          22
champion               60     0    20          21

villager               50
halberdier             35
arbalest                0
paladin                60
imperial_skirmisher    25
champion               60
Name: food, dtype: int64

                     food
villager               50
halberdier             35
arbalest                0
paladin                60
imperial_skirmisher    25
champion               60

                     food  wood
villager               50     0
halberdier             35    25
arbalest                0    25
paladin                60     0
imperial_skirmisher    25    35
champion               60     0

                     food  wood  gold  build_time
villager               50     0     0          25
halberdier             35    25     0          22
imperial_skirmisher    25    35     0          22

## Operations on DataFrame
If I want to swap two columns

In [3]:
df[['food', 'wood']] = df[['wood', 'food']]
print(df)
df[['food', 'wood']] = df[['wood', 'food']]
print(df)

                     food  wood  gold  build_time
villager                0    50     0          25
halberdier             25    35     0          22
arbalest               25     0    45          27
paladin                 0    60    75          30
imperial_skirmisher    35    25     0          22
champion                0    60    20          21
                     food  wood  gold  build_time
villager               50     0     0          25
halberdier             35    25     0          22
arbalest                0    25    45          27
paladin                60     0    75          30
imperial_skirmisher    25    35     0          22
champion               60     0    20          21